# docker-compose.yml
version: '3.9'

services:
  db:
    image: postgres:18
    container_name: postgres-container
    ports:
      - "5432:5432"   
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/18/docker  # دیتا persistent
    restart: unless-stopped

volumes:
  postgres_data:
